body{
  background: blue;
  font-family: Arial;
  text-align: center;
}

.square{
  height:200px;
  width:200px;
  background: red;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  font-family: arial;
}